.wrapper {
    padding-bottom: 50px;
}

.fullheight {
    height: 100%;
    margin: 0;
}

.submenu .logo {
    display: none;
}

.attributes {
    width: 100%;
    padding-left: 50px;
}

.centerbutton {
    color: #000;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.centerbutton #id_enteralt {
    min-width: 70%;
    max-height: 40px;
    margin-left: 10px;
    background-color: #fff;
    color: #000;
}
.enteralt-container {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 80%;
}

.sketchsubmit {
    padding: 5px;
    margin: 5px;
}

#wordcount {
    display: inline;
}

@media screen and (max-width: 700px) {
  .wrapper {
      height: calc(100vh - 88px) !important;
  }
}
